* {
  font-family:'Open Sans', sans-serif !important ;

}

a { text-decoration: none;}

body {
  background-color: #F9F9F9;

}

.navBar {
  z-index: 2;
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-shadow: 0px 3px 7px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 3px 7px -4px rgba(0,0,0,0.5);
box-shadow: 0px 3px 7px -4px rgba(0,0,0,0.5);
background-color: white;
width: 100%;
}

.logoTop {
grid-column-start: 1;
grid-column-end: 3;
}

#logo {
  width: 100px;
  height: auto;
  padding-left: 70px;
}

.homeNav {
  grid-column-start: 3;
  grid-column-end: 5;
  align-self: center;
  text-align: right;
}

.homeNav li {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5%;


}
.homeNav li a {
text-decoration: none;
color: rgba(0,0,0,0.8);

}

.homeNav img {
  width: 20px;
  display: inline;
}

.bannerImg {
  max-width: 100%;
  z-index: 1;
  position: relative;
}

.bannerImg img{
  width: 100%;
  height: auto;
}
.midtext{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 75%;
}

.midtext p{
text-align: center;
font-size: 50px;
font-weight: 300;
color: #000D43;
}

@media screen and (max-width: 1100px) {
.midtext p {
  font-size: 30px;
}
}
@media screen and (max-width: 670px) {
.midtext p {
  font-size: 20px;
}
.homeButtons{
  width: 75%;
  margin-top: 10px;
}
}
@media screen and (max-width: 450px) {
.homeButtons{
  width: 85%;
  margin-top: 40px;
}
}

.homeButtons{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 3;
  text-decoration: none;
}

.homeButtons li{
width: 200px;
color:white;
font-size: 14px;
font-weight: 600;
text-decoration: none;
display: table-cell;
table-layout: fixed;

}



.homeButtons a {
  text-decoration: none;
}

.btn1 li{
  background-color: #22A7F0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  margin-right: 20px;
  text-decoration: none;
}
.btn1  {
  margin-right: 20px;
}

.btn2 li{
  background-color : #ED9210;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  margin-left: 20px;
}

@media screen and (max-width: 910px) {
.homeButtons li {
  font-size: 12px;
  width: 150px;
}
}
@media screen and (max-width: 910px) {
.homeButtons li {
  font-size: 11px;
  width: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
}
}

.infoContainer{
  display: grid;
  grid-template-columns: 12.5% 1fr 12.5%;
  background-color: white;

}

.infoImg {
  grid-column-start: 2;
}

.infoTitle {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
  color: #000D43;
}
.infoText{
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 75px;
  color: #000D43;
}

.infoTextBox1 {
  grid-column-start: 1;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.5;
}
.infoTextBox2{
  grid-column-start: 2;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.5;
}
.infoTextBox3 {
  grid-column-start: 3;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.5;
}
.infoTextBox4 {
  grid-column-start: 4;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.5;
}
.infoTextBox5 {
  grid-column-start: 5;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 1.5;
}
@media screen and (max-width: 950px){
  .infoText {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .infoContainer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
  }
  .infoImg {
grid-column-start: 1;
padding-left: 5%;
padding-right: 5%;
  }

  .infographic img{
    width: 100%;
  }
}

@media screen and (max-width:600px)  {
  .infoText{
    display: block;
    width: 100%;

  }
  .infoTextBox1 {
    padding-left: 0px;
    padding-right: 0px;

  }
  .infoTextBox2{
    padding-left: 0px;
    padding-right: 0px;
  }
  .infoTextBox3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .infoTextBox4 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .infoTextBox5 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.counterContainer{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 12.5% 1fr 1fr 1fr 1fr 1fr 12.5%;
  background-color: #F9F9F9;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #000D43;
}
.counterNumb{
  font-size: 45px;
  font-weight:700;
}
.counterDesc{
  margin-top: 15px;
font-size: 20px;
font-weight: 300;

}
.counter1{
 grid-column-start: 2;
}
.counter2{
 grid-column-start: 3;
}
.counter3{
 grid-column-start: 4;
}
.counter4{
 grid-column-start: 5;
}
.counter5{
 grid-column-start: 6;
}

@media screen and (max-width:900px){
  .counterContainer{
  grid-template-columns: 12.5% 1fr 1fr 12.5%;
}
.counter1{
 grid-column-start: 2;
 padding-bottom: 30px;
}
.counter2{
 grid-column-start: 3;
}
.counter3{
 grid-column-start: 2;
 padding-bottom: 30px;
}
.counter4{
 grid-column-start: 3;
}
.counter5{
 display: none;
}
}

.testiContainer {
  display: grid;
  grid-template-columns: 12.5% 1fr 1fr 1fr 12.5%;
  box-sizing: border-box;
  text-align: center;
  padding-top:70px;
  padding-bottom: 70px;
  color: #000D43;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  background-color: white;

}
.testiContainer span {
  font-weight: 700;
}

.testiContainer img {
  width: 50%;
}

.testiContainer p {
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}


.pers1 {
  grid-column-start: 2;
}
.pers2 {
  grid-column-start: 3;
}
.pers3 {
  grid-column-start: 4;
}
@media screen and (max-width:900px){
.testiContainer{
  display: grid;
  grid-template-columns: 12.5% 1fr 12.5%;
  text-align: left;
}
.pers1 {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 20% 80%;
    margin-bottom: 30px;

}
.pers2 {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 20% 80%;
  margin-bottom: 30px;
}
.pers3 {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 20% 80%;
    margin-bottom: 30px;
}
.testiContainer img {
  width: 100%;
}
.testiContainer p {
margin-top: 0px;
 padding: 0px 0px;
 display: inline;
 padding-left: 20px;
}
}

.footer {
  background-color: #22A7F0;
  display: grid;
  grid-template-columns: 12.5% 1fr 1fr 1fr 1fr 12.5%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.logofooter {
  grid-column-start: 1;
  width: 50%;
  height: auto;
  justify-self: end;
}
.logofooter img {

}
.footCol1 {
  grid-column-start: 2;
}
.footCol1 a {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: white;
  line-height: 1.9;
  font-weight: 300;
  padding-left: 30%;
}
.footCol2 {
  grid-column-start: 3;
}
.footCol2 a {
  display: block;
  font-size: 13px;
  text-decoration: none;
  color: white;
  line-height: 1.9;
  font-weight: 300;
  padding-left: 30%;
}
.footCol3 {
  grid-column-start: 4;
  grid-column-end: 6;
}
.footCol3 p {
  font-size: 13px;
  color: white;
  font-weight: 300;
  margin-bottom: 20px;
}

.footCol3 .input,
.submit {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 10px 20px;
}

.footCol3 .input {
    border: 1px solid white;
    background-color: #22A7F0;
    width: 40%;
    border-radius: 3px;
}

.footCol3 .input::placeholder {
  color: white;
}

.footCol3 .submit {
    background-color: white;
    color: #22A7F0;
    font-size:13px;
    margin-left: -10px;
    border: 1px solid white;
    font-weight: 400;
}

.footCol3 .submit::-moz-focus-inner {
    border: 0;
}
.footCol4 {
  grid-column-start: 6;
}

.footCol4 p {
  font-size: 13px;
  color: white;
  line-height: 1.9;
  font-weight: 300;
  margin-left: -50%;
}
@media screen and (max-width:850px){
  .footCol4 {
    display: none;
  }
  .footCol3 {
    grid-column-start: 4;
    grid-column-end: 7;
  }
}
@media screen and (max-width:650px){
  .footCol3{
    display: none;
  }
  .footer{
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr  5%;
  }
  .logofooter {
    grid-column-start: 2;
    justify-self: start;
  }
  .footCol1{
    grid-column-start: 3;
  }
  .footCol2{
    grid-column-start: 4;
  }
}

.opdrachtContainer{
  width: 100%;
  height: auto;
  background-color: #F9F9F9;
}

.opdrachtenWrap {
  width: 75%;
  margin: 0 auto;
}
.opdrachtenWrap {

  margin-top: 70px;
}
.opdrachtenTitle{
  font-size: 25px;
  color: #000D43;
  font-weight: 700;
}
.zoekVensterO {
  box-sizing: border-box;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  padding-top: 40px;
  padding-bottom: 45px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.zoekVensterO select {
  height: 36px;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  border-radius: 3px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-border-radius: 0px;
   background-image: url("../img/selectArrow.svg");
   background-position: 96% 50%;
   background-repeat: no-repeat;
   background-size: 18px;
   padding-left: 10px;


}

.zoekColO1 {
grid-column-start: 1;
}
.zoekColO1 p , .zoekColO2 p , .zoekColO3 p{
  text-align: left;
  font-size: 13px;
  font-weight: 600;
    color: #000D43;
}

.zoekColO1 input, .zoekColO1 select ,.zoekColO2 input,.zoekColO2 select,.zoekColO3 select{
width: 85%;
margin-top: 5px;
}

.zoekVensterO select {
  width: 88.5%;
}

.zoekColO1 input,.zoekColO2 input {
  border: 1px solid rgba(112, 112, 112, 0.25);
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.zoekColO2{
grid-column-start: 2;
}
.zoekColO3 {
grid-column-start: 3;
}
.zoekColO3 select {
  width: 85%;
  margin-bottom: 23px;
}
.zoekColO3 .submitO {
  width: 85%;
  background-color: #22A7F0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  color:white;
  font-size: 14px;
  font-weight: 700;
  border: none;
}
.opdrachtlijst {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 3px;
  margin-bottom: 50px;
}
.opdrachtenOver {
  font-size: 15px;
  color: #000D43;
  font-weight: 600;
  grid-column-start: 1;
  grid-column-end: 5;
  padding-top: 10px;
}
.opdrachtSorteer {
  grid-column-start: 5;
  grid-column-end: 7;
}

.opdrachtSorteer select{
  width: 100%;
  height: 36px;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  border-radius: 3px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-border-radius: 0px;
   background-image: url("../img/selectArrow.svg");
   background-position: 96% 50%;
   background-repeat: no-repeat;
   background-size: 18px;
   padding-left: 10px;
}

.breedlijn{
  grid-column-start: 1;
  grid-column-end: 7;
  margin-top: 32px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.25);
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 50px;
}

.opdrachtStuk{
  grid-column-start: 1;
  grid-column-end: 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
margin-bottom: 30px;
}

.opdrachtStuk:after {
  grid-column-start: 1;
  grid-column-end: 7;
  content : "";
  bottom  : 0;
  margin: 0 auto;
  height  : 1px;
  width   : 100%;
  border-bottom:1px solid rgba(112, 112, 112, 0.25);
  margin-top: 30px;
}

.opdrachtImg {
  grid-column-start: 1;
  grid-column-end: 2;
  box-sizing: border-box;
}
.opdrachtImg img{
  width: 100%;
  height: auto;
}

.opdrachtDesc {
  grid-column-start: 2;
  grid-column-end: 5;
  padding-left: 10%;
}
.opdrachtTitle{
  font-size: 20px;
  color: #000D43;
  font-weight: 600;
  margin-bottom: 10px;
}
.opdrachtTijd{
  font-size: 12px;
  color: #000D43;
  font-weight: 700;
  margin-bottom: 20px;
}
.opdrachtUitleg {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  color: #000D43;
}
.opdrachtTags{
  margin-top: 20px;
}

.opdrachtTags li {
  display: inline;
  color: #000D43;
  font-size: 12px;
  font-weight: 300;
  border: 1px solid #22A7F0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

.opdrachtRest{
  grid-column-start: 5;
  grid-column-end: 7;
  padding-left: 20%;
  color: #000D43;
  font-weight: 600;
  font-size: 14px;
}
.opdrachtRest p {
  margin-bottom: 5px;
}

.opdrachtRest input {
  width: 50%;
  background-color: #22A7F0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  color:white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  margin-top: 25px;
}

.opdrachtlijst div:last-child::after{
  border-bottom: none;
}
.socialicons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.freelanceRest{
  grid-column-start: 5;
  grid-column-end: 7;
  padding-left: 20%;
  color: #000D43;
  font-weight: 600;
  font-size: 14px;
}
.freelanceRest p {
  margin-bottom: 5px;
}

.freelanceRest input {
  width: 50%;
  background-color: #22A7F0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  color:white;
  font-size: 12px;
  font-weight: 600;
  border: none;
  margin-top: 25px;
  display: block;
}

.freelanceRest img {
  height: 15px;
  width: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.coverfoto {
  width: 100%;
  height: 450px;
  background-image: url("../img/cover.jpg");

}
.profielInfo {
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 30px 30px;
  margin-top: -100px;
  margin-bottom: 20px;
  border: 1px solid rgba(112, 112, 112, 0.25);
  border-radius: 3px;
}

.profielLinks {
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.profielImg img{
  width: 80%;
  grid-column-start: 1;
  grid-column-end: 2;
  display: block;
  margin: 0 auto;
}
.profielNaam{
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 7%;
}

.profielNaam h1 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #000D43;
}

.profielNaam h2 {
  font-size: 14px;
  font-weight: 600;
  color: #000D43;
  margin-top: 10px;
}

.profielNaam p {
  font-size: 14px;
  font-weight: 300;
  color: #000D43;
  margin-top: 10px;
}

.profielNaam img {
  height: 18px;
  width: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.pstatus{
  font-size: 14px;
  color: green;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}
.profielImg h1 {
  font-weight: 700;
  font-size: 20px;
  color: #000D43;
  text-align: center;
  margin-top: 10px;
}
.profielImg h2 {
  font-weight: 300;
  font-size: 14px;
  color: #000D43;
  text-align: center;
  margin-top: 10px;
}

.profielBesc h1 {
  font-size: 14px;
  font-weight: 600;
  color: #000D43;
  margin-top: 20px;
}
.profielBesc h2 {
  font-size: 12px;
  font-weight: 300;
  color: #000D43;
  margin-top: 10px;
  line-height: 1.6;
}
.profielCounter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 70px;
  color: #000D43;
  margin-left: -4%;
  margin-bottom: 20px;
  }

.pcounter1 .pcounterNumb,.pcounter2 .pcounterNumb,.pcounter3 .pcounterNumb,.pcounter4 .pcounterNumb{
  font-size: 30px;
  font-weight:700;
}
.pcounter1 .pcounterDesc, .pcounter2 .pcounterDesc, .pcounter3 .pcounterDesc, .pcounter4 .pcounterDesc{
margin-top: 10px;
font-size: 16px;
font-weight: 300;
}

.portfolio {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 20px;
}

.portfolio .portImg {
  position: relative;
  background-image: url("../img/website.png");
  box-sizing: border-box;
  border: 5px solid white;
}
.portfolio .portImg:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.recensies{
  width: 75%;
  margin: 0 auto;
  border: 1px solid rgba(112, 112, 112, 0.25);
  border-radius: 3px;
  background-color: white;
  box-sizing: border-box;
  padding: 30px 30px;
  font-size: 18px;
  color: #000D43;
  font-weight: 600;
  margin-bottom: 50px;

}


.rStuk{
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
padding-bottom: 30px;
padding-top: 30px;
}


.rImg {
  grid-column-start: 1;
  grid-column-end: 2;
  box-sizing: border-box;
  padding: 10px;
}
.rImg img{
  width: 100%;
  height: auto;
}

.rDesc {
  grid-column-start: 2;
  grid-column-end: 5;
  padding-left: 10%;
}
.rTitle{
  font-size: 20px;
  color: #000D43;
  font-weight: 600;
  margin-bottom: 10px;
}
.rTijd{
  font-size: 12px;
  color: #000D43;
  font-weight: 700;
  margin-bottom: 20px;
}
.rUitleg {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  color: #000D43;
}
.rTags{
  margin-top: 20px;
}

.rTags li {
  display: inline;
  color: #000D43;
  font-size: 12px;
  font-weight: 300;
  border: 1px solid #22A7F0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

.rStuk  {
border-bottom: 1px solid rgba(112, 112, 112, 0.25);
}

.rStuk:last-child {
  border-bottom: 0px;
}

.loginpage {
  background-image: url("../img/logpic.jpg");
  background-position:top center;
}

.loginmid {
  box-sizing: border-box;
  width: 450px;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  margin : 0 auto;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.loginmid img {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 30px;
}

.loginmid p{
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: #000D43;
  margin-bottom: 5px;
}

.loginmid .loginin{
  border: 1px solid rgba(112, 112, 112, 0.25);
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 96.5%;
}
.submitL {
  width: 100% !important;
  margin-top: 10px;
  background-color: #22A7F0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  color:white;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.prog {
  background-color:  #F9F9F9;
}

.profoptitle {
  width: 450px;
  margin: 0 auto;
  font-size: 25px;
  color: #000D43;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 70px;
}

.profop{
  box-sizing: border-box;
  width: 450px;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  margin : 0 auto;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}

.profopinput {
  border: 1px solid rgba(112, 112, 112, 0.25);
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 96.5%;
}

.profop p{
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: #000D43;
  margin-bottom: 5px;
}

.profop textarea {
min-width: 98%;
max-width: 98%;
  border: 1px solid rgba(112, 112, 112, 0.25);
  min-height: 50px;
}

.profop img {
  display: block;
  margin: 0 auto;
  width: 45%;
}

.profop input[type=file] ,.freeimgwrap input[type=file]{
  display: none;
}

.profoplabel {
border: none;
display: inline-block;
cursor: pointer;
}

.profop .inputwrap{
  text-align: center;
  margin-top: 10px;
color:#000D43;
font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
}

.proffre {
  box-sizing: border-box;
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
}

.freeimgwrap {
  grid-column-start: 1;
  grid-column-end: 3;
}

.proffre .inputwrap {
  text-align: left;
  margin-top: 10px;
color:#000D43;
font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 30px;
}
.proffre p{
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  color: #000D43;
  margin-bottom: 5px;
}

.proffre textarea {
min-width: 98%;
max-width: 98%;
  border: 1px solid rgba(112, 112, 112, 0.25);
  min-height: 50px;
}

.proffrecol1,.proffrecol2 {
  padding-left: 30px;
  padding-right: 30px;
}

.proffre select{
  height: 36px;
  background-color: white;
  border: 1px solid rgba(112, 112, 112, 0.25);
  border-radius: 3px;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-appearance: none;
   -moz-appearance: none;
   -webkit-border-radius: 0px;
   background-image: url("../img/selectArrow.svg");
   background-position: 96% 50%;
   background-repeat: no-repeat;
   background-size: 18px;
   padding-left: 10px;
   width: 100%;
  margin-bottom: 20px;
}

.proffretitle {
  width: 75%;
  margin: 0 auto;
  font-size: 25px;
  color: #000D43;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 70px;
}

#proffreimginput {
  margin-bottom: 20px;

}



.proffrecol2 img{
  width: 30px;
  display: block;
}

.proffresubmit{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  margin-top: 30px;
}

.submitfprof{
  width: 25% !important;
  margin-top: 10px;
  background-color: #22A7F0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  color:white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  justify-self : center;

}

.msgTitle{

    font-size: 25px;
    color: #000D43;
    font-weight: 700;
    margin-bottom: 30px;

}
